
@{
    ViewBag.Title = "Sign in page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Log in Page</title>
    <style>
        body {
            margin-top:200px;
        }
    </style>
</head>
<body>
    <form style="text-align:center;" action="pagetogoto">
        Username <input type="text" name="username"> <br><br>
        Password <input type="password" name="password"> <br><br>
        <button type="button">Sign Up</button>
        <button type="button">Sign in</button>
    </form>
</body>
</html>